body{
	background-color: #444444;
	color:#EEEEEE;
}

.footable-odd{
	background-color: #444444;
}

a, a:hover, a:visited, a:active{
	color: #EEEEEE;
}
g{
	color: #EEEEEE;
}
.c3-tooltip{
	color:#000000;
}